<footer>
    <div class= "about">
        <ul>
            <li class="top">About Us /</li>
            <li class="top">Contact Us /</li>
            <li class="top">Privacy and Policy /</li>
            <li class="top">Help</li>
        </ul>
    </div>
</footer>
</div>

</body>    
</html>