<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nairaland Clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <div class= "container">
            <div class= "top">
                    <div class= "about">
                        <ul>
                            <li>About Us /</li>
                            <li>Contact Us /</li>
                            <li>Privacy and Policy /</li>
                            <li>Help</li>
                        </ul>
                    </div>
                    
                    <div class="titlemenu">
                        <h1>
                            <a href="/">Nairaland Clone</a>
                        </h1>
                    
                        <nav class="auth_nav">
                            <% if (!currentUser) { %> 
                                <ul>
                                    <div>
                                        <h3>Welcome Guest /</h3> 
                                        <li>
                                            <a class= "headlink" href= "/">Home /</a>
                                        </li>
                                        <li>
                                            <a class= "headlink" href = "/login">login /</a>
                                        </li>
                                        <li>
                                            <a class= "headlink" href= "/register">Register /</a>
                                        </li>
                                        <li>
                                            <a class= "headlink" href= "/forgot">Reset Password</a></a>
                                        </li>
                                    </div>
                            <% } else { %>
                                    <h3>Welcome <%= currentUser.username %> /</a></h3> 
                                    <li>
                                        <a class= "headlink" href= "/">Home /</a>
                                    </li>
                                    <li>
                                        <a  class= "headlink"href= "/logout">Logout /</a>
                                    </li>
                                    <li>
                                        <a class= "headlink" href= "/user/<%= currentUser._id %>">Dashboard /</a>
                                    </li>
                                    <li>
                                        <a class= "headlink" href= "/post/new">Create Post /</a>
                                    </li>
                                    <li>
                                        <a class= "headlink" href= "">Settings</a>
                                    </li>
                                </ul>
                            <% }  %>
                        </nav>
                    </div>
                </div>
                        
                         <% if(error && error.length > 0) { %>
                             <div>
                                <div class= "alert alert-danger" role="alert">
                                    <h2>
                                        <%= error %>
                                    </h2>
                                </div>
                            </div> 
                         <% } %>
                         <% if (success && success.length > 0) {  %>
                             <div>
                                <div class="alert alert-success" role="alert">
                                    <h2>
                                        <%= success %>
                                    </h2>
                                </div>
                            </div> 
                        <% }  %>
            
 