<% include partials/header.ejs %>


    <main>
        <h2>Latest Posts</h2>
        <div class="card">
           
            <% posts.forEach(post =>{ %>
                <div>
                    <li class="post-list">
                        <h2 class="post">
                        <span><a href="/user/<%= post.author.id %>"><%= post.author.username %></a></span>
                            <a class="post-body" href="/post/<%= post.id %>">
                                <%= post.title %>
                            </a>
                        </h2>
                    </li>
                </div>
                <% }) %>
        </div>
    </main>

    <% include partials/footer.ejs  %>