<% include ./partials/header  %>
   <main>
       <h2>Log in</h2>
       <form action="/login" method="POST">
        <div class="form">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" required>
        </div>
        <button>Log in</button>
    </form>
    <div class="not-member">
        <h4>Not a member</h4> 
            <form action = "/register" method = "GET">
                <button>click here</button>
            </form> 
    </div>
</main>
    

<% include ./partials/footer  %>